.dropdown {
    position: absolute;
    top: 4.5rem;
    left: 0;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    max-height: 30rem;
    overflow-y: auto;
    z-index: 10;
}
