.signIn {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    min-width: 100%;
    padding: 2rem;
}

.signIn__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3rem;
}

.signIn__wrapper {
    margin-top: 7.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signIn__remember {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.signIn__forgot {
    font-size: 1.4rem;
}

.signIn__forgot a:link,
.signIn__forgot a:visited {
    color: var(--text-color);
}

.signIn__forgot a:hover,
.signIn__forgot a:active {
    color: var(--text-color-lighter);
}

.signUp__label {
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-color-lighter);
}
