.btn {
    min-width: 25rem;
    min-height: 4.5rem;
    padding: 1rem 5rem;
    position: relative;
    background-color: transparent;
    border-color: var(--additional-color);
    border-radius: 5px;
    color: var(--main-color-darker);
    cursor: pointer;
}

.btn--dark {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.btn--dark:hover {
    background-color: var(--text-color-lighter);
}

.btn--yellow {
    background-color: var(--additional-color-darker);
    color: var(--text-color);
}

.btn--yellow:hover {
    background-color: var(--additional-color);
}

.btn a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.rounded {
    border-radius: 25px;
}

.btn:not(:disabled):hover {
    border-color: var(--additional-color-darker);
    transform: scale(1.1);
}
