.btn {
    min-width: 20rem;
    min-height: 4.5rem;
    padding: 1rem 5rem;
    position: relative;
    background-color: transparent;
    border-color: var(--additional-color);
    border-radius: 5px;
    color: var(--main-color-darker);
    cursor: pointer;
}

.rounded {
    border-radius: 25px;
}

.btn:not(:disabled):hover {
    border-color: var(--additional-color-darker);
    transform: scale(1.1);
}
