.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.menu__item:nth-child(2) {
    outline: 1px solid var(--main-color);
    color: var(--red-color);
}

.menu__item:last-child {
    background-color: var(--red-color);
    color: var(--bg-color);
    gap: 1rem;
}

.menu__item:nth-child(2):hover {
    background-color: var(--gray-color);
}

.menu__item:first-child:hover {
    box-shadow: var(--box-shadow);
    z-index: 20;
}

.menu__cart {
    display: flex;
    padding-right: 1.1rem;
    border-right: 1px solid var(--bg-color);
}

.menu__cart + span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.menu__cart + span svg {
    transition: transform ease-in 0.2s;
}

.menu__cart + span.open svg {
    transform: rotate(-180deg);
}

.menu__amount {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 2.5rem;
    min-height: 2.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    background-color: var(--main-color);
    border-radius: 500%;
    color: var(--text-color);
    transform: translate(-50%, -50%);
}
