.price {
    position: relative;
}

.range-slider {
    position: relative;
    margin: 1.5rem 0 3rem 0;
}

.horizontal-slider {
    width: 100%;
}

.thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--additional-color);
}

.track {
    height: 0.5rem;
    background-color: var(--bg-lighter);
}
