.price {
    position: relative;
    font-size: 1.5rem;
}

.range-slider {
    margin: 1.5rem 0 3rem 0;
}

.horizontal-slider {
    position: relative;
    width: 100%;
}

.thumb {
    position: absolute;
    top: 50%;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--main-color-darker);
    transform: translateY(-35%);
    cursor: grab;
}

.track {
    height: 0.5rem;
    background-color: var(--additional-color);
}
