.product__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    list-style: none;
    color: var(--text-color);
}

.product__item {
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    font-size: 1.2rem;
    align-items: center;
    border-bottom: 1px solid var(--main-color-darker);
}

.product__item img {
    padding: 0.2rem;
    border: 1px solid var(--bg-lighter);
}

.product__center {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.product__detail {
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
}

.product__close {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
}

.product__close:hover {
    color: var(--text-color-lighter);
}
