.signUp {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    min-width: 100%;
    padding: 2rem;
}

.signUp__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.signUp__col,
.signUp__col--long {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.signUp__col {
    max-width: 50%;
    gap: 0.5rem;
}

.signUp__col--long {
    width: 100%;
}

.signUp__label {
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-color-lighter);
}

.signUp__label a:link,
.signUp__label a:visited {
    color: var(--text-color);
}

.signUp__label a:hover,
.signUp__label a:active {
    color: var(--text-color-lighter);
}
