.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin: 10% auto;
    box-shadow: 2px 3px 5px var(--shadow-color);
    overflow: hidden;
}

.auth__tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    list-style: none;
}

.auth__tab {
    width: 50%;
    text-align: center;
}

.auth__toggleTab {
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 0;
    background-color: transparent;
    border: 0;
}

.auth__toggleTab.active + .auth__line {
    border-top: 3px solid var(--main-color-darker);
}

.auth__toggleTab:hover {
    color: var(--text-color-darker);
    cursor: pointer;
}

.auth__line {
    border-top: 2px solid var(--gray-color);
}

.auth__toggleContainer {
    display: flex;
    align-items: center;
    transition: transform ease-out 0.5s;
}

.auth__toggle {
    transform: translateX(-100%);
}
