.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}

.header__bottom {
    margin: 2rem 0;
    background-color: var(--main-color);
}
