.header {
    position: sticky;
    top: 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.header__bottom {
    background-color: var(--main-color);
}
