.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

.search__select {
    position: relative;
    padding: 1rem 0.1rem 1rem 1rem;
    font-size: 1.8rem;
    border-right: 1px solid var(--gray-color);
    cursor: pointer;
}

.search__chosen {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.chosen {
    width: 10rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chosen::first-letter {
    text-transform: uppercase;
}

.search__chosen svg {
    transition: transform ease-in 0.2s;
}

.search__chosen.open svg {
    transform: rotate(-180deg);
}

.search__input {
    background-color: transparent;
    min-width: 50rem;
    border: 0;
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
}

.search__input:focus {
    outline: none;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1.1rem;
    background-color: var(--main-color);
    border: 0;
    cursor: pointer;
    transition: transform ease-in 0.2s;
}

.search__btn:hover {
    transform: scale(1.1);
}
