.products {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.products__left {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.products__right {
    min-width: 80%;
}
