.container {
  max-width: 70%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 56.2%;
  }
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 50%;
  }
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 43.75%;
  }
}

.hidden {
  display: none;
}
