* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --bg-color: #fffbeb;
    --main-color: #fcd34d;
    --main-color-darker: #d97706;
    --text-color: #451a03;
    --text-color-lighter: #78350f;
    --gray-color: #fde68a;
    --shadow-color: rgba(69, 26, 3, 0.2);
    --red-color: #dc2626;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
