* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --bg-color: #f8fafc;
  --main-color: #334155;
  --main-color-darker: #1e293b;
  --secondary-color: #004fc2;
  --secondary-color-darker: #0c4a6e;
  --additional-color-lighter: #fecaca;
  --additional-color: #dc2626;
  --additional-color-darker: #991b1b;
  --text-color: #020617;
  --text-color-additional: #1e293b;
  --footer-color: #e2e8f0;

  --text-color: #020617;
  --text-color-darker: #1e293b;
  --primary: #334155;
  --warning-lighter: #fecaca;
  --warning: #dc2626;
  --warning-darker: #991b1b;
  --success: #22c55e;
  --default: #f8fafc;
  --default-darker: #e2e8f0;

  --shadow-color: rgba(51, 65, 85, 0.2);
  --shadow-color-darker: rgba(30, 41, 59, 0.7);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
