.not-found {
    max-width: 60%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.not-found__header {
    font-size: 20rem;
    color: var(--additional-color-darker);
}

.not-found__sub {
    font-size: 3rem;
}

.not-found__text {
    font-size: 2rem;
    text-align: center;
    line-height: 1.3;
}

.not-found__link {
    text-decoration: none;
    color: var(--text-color);
}
